# maya
.env
env/
README.md
LICENSE
.vscode/
# Maya doesn't use this. 
# The function calls are stored on OpenAI directly.
# This is just used as a reference.
function_calls.json

# docker
Dockerfile
.dockerignore
docker-compose.yml

# git
.git
.gitattributes
.gitignore
